ul
	li
		a.header-link(href='https://github.com/brunch/brunch/tree/stable/docs') Brunch docs
	li
		a.header-link(href='https://github.com/brunch/brunch/issues') Brunch issues
	li
		a.header-link(href='http://docs.chaplinjs.org') Chaplin docs
	li
		a.header-link(href='https://github.com/chaplinjs/chaplin/issues') Chaplin issues
	li
		a.header-link(href='https://github.com/paulmillr/ostio') Ost.io example app
	li
		a.header-link.last-link(href='http://twitter.com/brunch') Twitter
